{% extends 'main/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <p>itnews - це новинний сайт, присвячений останнім технологічним новинам та подіям в світі IT. Ми стежимо за
        останніми трендами та інноваціями в галузі програмного забезпечення, апаратного забезпечення, інтернету речей,
        штучного інтелекту та багатьох інших областей. На нашому сайті ви знайдете новини, огляди, інтерв'ю та статті,
        що допоможуть вам залишатися в курсі останніх подій у світі технологій.</p>
    <a href="{% url 'news_home' %}" class="btn btn-warning">На сторінку новин</a>
</div>

{% endblock %}